{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          // "actions": "./actions",
          "shared": "./shared",
          "data": "./data",
          "utils": "./utils",
          "routes": "./routes",
          "i18n": "./i18n.js",
        }
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": false
      }
    ]
  ],
  "presets": [
    "next/babel"
  ]
}
